@charset "UTF-8";

@font-face {
    font-family:'idroid';
    src: url('fontes/idroid.otf') format('opentype');
}
body{
    background-color: #84E1AD;
}
header{
    background-image: linear-gradient(#3AD07E, #217446);
    margin: -10px -10px 0px -10px;
    padding: 10px;
}
div.titulo > h1{
    color: white;
    margin: 10px 0 0 0 ;
    text-align: center;
}
div.subtitulo > p{
    color: white;
    text-align: center;
    font-size: 12px;
}
div.home > a{
    color: white;
    margin-right: 20px;
    text-decoration: none;
}
div.home >a:hover{
    background-color: #30A065;
    color: #02602C;
    padding: 5px 5px 10px 5px;
    border-radius: 4px;
}
main{
    background-color: white;
    padding: 20px;
    margin: auto;
    margin-bottom: 30px;
    border-radius: 0 0 10px 10px;
    box-shadow: 1px 1px 10px 1px #3a634cbe;
    min-width: 300px;
    max-width: 1000px;
    text-align: justify;
}
main>div.titulo2>p{
    text-indent: 30px;
}
div.video{
    background-color: #043D1D;
    margin: 0 -20px 0px -20px;
    padding: 10px;
    position: relative;
    padding-bottom: 55%;
}
h1.titulofont{
    font-family: 'idroid', Arial, sans-serif;
    color: #1E5F3C;
}
main.titulo2 > h2{
    color: #385D4C;
}
picture > img{
    width: 100%;
}
picture>img.pequeno{
    display: block;
    max-width: 350px;
    margin: auto;
}
div.titulo2 > h2.titulocustom{
    background-image: linear-gradient(to right, #85DDAA, white);
    color: #045427;
    font-family: 'idroid', Arial, sans-serif;
    margin: 0px;
    padding: 3px;
}
span{
    background-color: #6FBD94,Arial , sans-serif;
}
span > a{
    color: #045427;
    text-decoration: none;
}
div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    height: 90%;
    width: 90%;
}
div.mais{
    background-color: #C5EBD6;
    margin: auto;
    margin-top: 30px;
    width: 600px;
    padding: 10px;
    border-radius: 10px;
}
.mais > div{
    background-color: #2FA866;
    color: white;
    font-weight: 500;
    margin: -10px -10px 0px -10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}
.mais > div > h1{
    margin: 0px -10px 0 0px;
    padding: 5px;
    border-radius: 10px 10px 0  0;
}
footer{
    background-color: #1A5C38;
    color: white;
    text-align: center;
    padding: 1px;
    margin-bottom: -10px;
    margin-right: -10px;
    margin-left: -10px;
    margin-top: 10px;
}
footer>p{
    margin: 0px;
}
main>div.video{
    margin: auto;
    display: block;
    width: 50%;
}
ul{
    list-style-type: '\2714\00A0\00A0';
    columns: 2;
    list-style-position: inside;
}